{% load static %}
<!DOCTYPE html>
<html lang="ru" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{ title }}</title>
		<link rel="icon" href="https://cdn-app.offering.pro/static/img/brand/favicon.png" type="image/x-icon"/>

		<!-- css -->

		<link rel="stylesheet" href="https://cdn-app.offering.pro/static/css/bootstrap-2.css?v=3">
		<link rel="stylesheet" href="https://cdn-app.offering.pro/static/css/all.min.css">

	</head>

<body class="auth-page d-flex align-items-center pt-5 pb-5 h-100">

<div class="container-fluid">
	<div class="row">
		<main class="col-md-6 mx-auto col-lg-4 px-md-4">
			<div class="card rounded-5 shadow-lg">
				<div class="card-body pt-5 pb-5 ps-5 pe-5">
					<h1 class="h3 pb-3 mb-4 border-bottom text-center text-success-">
						Ошибка 500
					</h1> <!-- /title -->

					<div class="text-center">
						Вернитесь на <a href="/">главную</a>.
					</div>
				</div> <!-- /card-body -->
			</div> <!-- /card -->
		</main> <!-- /content -->
	</div> <!-- /row -->
</div> <!-- /container-fluid -->
</body>
</html>